.about-me-section {
    width: 80%;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.my-info-container {
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
}

.info-stats-container {
    display: flex;
    flex-direction: column;
}

#info {
    display: flex;
    flex-direction: column;
}

#health-level {
    display: inherit;
}

#level-text {
    width: 70%;
}

.nes-container, .nes-table-responsive {
    margin: 15px;
}

.icons {
    position: absolute;
    top: 80%;
    left: 10.5%;
}

@media only screen and (max-width: 1200px) {
    .about-me-section {
        flex-direction: column;
        align-items: center;
        position: static;
        width: 100%;
        height: auto;
        transform: none;
        margin-top: 20px;
    }

    .icons {
        position: static;
        margin-top: 20px;
    }
}